<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= form_tag tasks_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Deadline at</th>
      <th scope="col">Title</th>
      <th scope="col">Is done</th>
      <th scope="col">Category</th>
      <th scope="col">Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.order(title: :asc).each do |task| %>
      <tr>
        <td><%= if @task.deadline_at != nil then @task.deadline_at.to_formatted_s(:long) else " " end %></td>
        <td><%= task.title %></td>
        <td><%= task.is_done %></td>
        <td><%= task.category.title %></td>
        <td><%= raw task.tags.map(&:title).map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-light"><%= link_to 'New Task', new_task_path %></button>
<button type="button" class="btn btn-light"><%= link_to 'New Category', new_category_path %></button>
<button type="button" class="btn btn-light"><%= link_to 'New Tag', new_tag_path %></button>
