<p id="notice"><%= notice %></p>

<p>
  <strong>Deadline at:</strong>
  <%= if @task.deadline_at != nil then @task.deadline_at.to_formatted_s(:long) end   %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @task.note %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @task.is_done %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @task.category.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @task.tags.map(&:title).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_task_path(@task) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Back', tasks_path %></button>
