
<%= simple_form_for(@tag) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="container">
    <%= f.input :title %>
    <%= f.input :color, as: :color %>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-light"> <%= f.button :submit %> </button>
  </div>
<% end %>
