<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tag.title %>
</p>

<p>
  <strong>Color:</strong>
  <svg width="20" height="20">
    <rect width="20" height="20" style="fill:<%=@tag.color%>" />
  </svg>
</p>

<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_tag_path(@tag) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Back', tags_path %></button>
