<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Color:</strong>
  <svg width="20" height="20">
    <rect width="20" height="20" style="fill:<%= @category.color %>" />
  </svg>
</p>

<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_category_path(@category) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Back', categories_path %></button>
